@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --foreground: #000000;
  --background: #ffffff;
  --alt-background: #141414;
  --translucent-background: #ffffffcc;
  --alt-foreground: #292929;
  --primary: #650aa7;
}

.darkmode {
  --foreground: #ffffff;
  --background: #000000;
  --alt-background: #f0f0f0;
  --translucent-background: #000000cc;
  --alt-foreground: #d4d4d4;
  --primary: #650aa7;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  /* position: relative; */
}

a,
li {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

.nav-wrapper {
  background-color: var(--translucent-background);
  z-index: 999;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: var(--alt-foreground) solid 1px;
}

.nav-wrapper > a.logo {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.navlist {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.navlist > li {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.navlist > li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--alt-foreground);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.navlist > li:hover::after {
  width: 80%;
}

.hamburger_menu {
  display: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 10%;
  gap: 2rem;
  position: relative;
}

.toggle {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--alt-background);
  color: var(--background);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}
.hero .infos > p.top-info {
  margin-bottom: -1.2rem;
}

.hero .infos > h1.name {
  text-transform: capitalize;
  font-size: 5em;
}

.hero .infos > p.info {
  color: var(--alt-foreground);
  font-size: 1.2rem;
}

.cta {
  border: solid 2px black;
  padding: 0.5em 1.5em;
  font-weight: bold;
  text-transform: lowercase;
  cursor: pointer;
}

.work-cta {
  background-color: var(--foreground);
  color: var(--background);
}

.about-cta {
  background-color: var(--background);
}

.cta:hover {
  box-shadow: 1px 1px 10px 1px #000;
}

.about {
  background-color: var(--foreground);
  color: var(--background);
  padding: 6rem 2rem;
}

.about-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 3rem;
  align-items: center;
}

.about-text h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1em;
  line-height: 1.6;
}

.about-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.about-skills i {
  font-size: 3rem;
  color: var(--background);
}

.projects {
  min-height: 40vh;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h2 {
  font-size: 3em;
  text-transform: capitalize;
  font-family: "Space Grotesk";
}

.projects > .works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works > .work {
  width: 80%;
  border-bottom: 1px solid var(--alt-foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  padding: 2rem 1rem;
}

.works > .work:hover {
  background-color: var(--foreground);
  color: var(--background);
  cursor: pointer;
}

.links > a {
  font-size: 2rem;
}
/* 
.about {
  min-height: 20vh;
} */

.contact {
  padding: 6rem 2rem;
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact > h2 {
  font-size: 2rem;
  letter-spacing: -0.02em;
}

.contact > p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.contact-wrapper {
  height: 100%;
  min-height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper > .contact-links {
  width: 100%;
  min-width: 50%;
  max-width: 50%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.contact-links > a {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #222;
  border-radius: 12px;
  border-radius: 10px;
  background-color: var(--alt-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.contact-links > a > .link-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.contact-links > a > .arrow {
  color: var(--alt-background);
  transition: all 0.2s ease-in-out;
}

.contact-links > a:hover,
.contact-links > a:hover > .arrow {
  color: var(--background);
  filter: opacity(90%);
}

footer {
  display: grid;
  place-content: center;
  padding: 0.8rem;
  /* background-color: var(--dark-background); */
  font-size: 0.8em;
}

/* Responsive Styles */

@media (max-width: 760px) {
  body {
    font-size: 0.9rem;
  }
  .hamburger_menu {
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .nav-wrapper {
    background-color: var(--background);
  }

  nav {
    display: none;
  }

  nav.open {
    display: block;
  }
  .navlist {
    border-top: 1px solid var(--alt-foreground);
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100%;
    right: 0;
    left: 0;
    border-bottom: 1px solid var(--alt-foreground);
    background-color: var(--background);
    text-transform: capitalize;
    font-weight: bold;
  }
  .contact-wrapper > .contact-links {
    min-width: 70%;
    max-width: 80%;
  }
}

@media (max-width: 590px) {
  body {
    font-size: 0.8rem;
  }

  .hero > .infos > h1 {
    font-size: 2.5rem;
    letter-spacing: -0.2rem;
  }

  .contact-wrapper > .contact-links {
    min-width: 93%;
    max-width: 93%;
  }

  .about-wrapper {
    /* max-width: 1200px; */
    /* margin: auto; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: center;
  }
}
